$black: #000000;
$popup-width: 220px;
$main-color: #2880C7;
$white: #ffffff;

html {
  margin: 0;
  min-height: 100px;
  padding: 0;
}

body {
  border: 1px solid #2880C7;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  width: $popup-width;
}

div a,
div a:hover,
div a:visited {
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
}

.disabled {
  .site-title,
  .site-favicon,
  .song-data {
    opacity: .5;
  }

  .player-controls-row {
    opacity: .5;
    pointer-events: none;
  }
}

.song-data {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  padding: 0 4px 0 4px;
  height: 18px;
}

.site-data {
  overflow: hidden;
  height: 20px;
  margin-bottom: 5px;
  width: $popup-width;

  .settings {
    display: inline-block;
    float: right;
    margin-right: 5px;

    span {
      font-size: 12px;
      margin: 3px 6px 0 -6px;
      opacity: .5;
      width: 12px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .settings-active {
    opacity: 1;
  }
}

.site-favicon {
  width: 16px;
  height: 16px;
  margin-left: 12px;
  border: none;
}

.site-title-container {
  margin-left: 20px;
}

.site-title {
  font-size: 14px;
  vertical-align: middle;
}

#player {
  height: auto;
  min-height: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.player-row {
  padding: 5px 0 0 0;
  overflow: hidden;
}

.site-tab-container {
  min-height: 60px;

  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    text-decoration: none;
    color: $black;
  }
}

.player-controls-row {
  span.glyphicon {
    display: inline-block;
    font-size: 12px;
  }
}

.header {
  background-color: $main-color;
  height: 40px;
  padding: 6px;
  text-align: center;

  a,
  a:active,
  a:visited {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: darken($white, 10%);
  }
}

.options {
  background-color: $main-color;
  display: block;
  height: 34px;
  padding: 6px 27px;
  position: relative;
  top: calc(100% - 34px);
  width: 100%;

  #help-link {
    float: right;
    padding-right: 2px;
  }

  a,
  a:hover,
  a:visited {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: darken($white, 10%);
  }
}

.toggle {
  display: inline-block;
  visibility: hidden;
  vertical-align: middle;
}

.no-sites {
  padding-top: 10px;
}

.button-row {
  padding-bottom: 5px;
  text-align: center;

  button {
    padding: 1px 4px 1px 4px;
    height: 20px;
    width: 106px;
    font-size: 12px;

    span {
      margin-right: 5px;
    }
  }

  .btn-enabled,
  .btn-enabled:active,
  .btn-enabled:focus {
    background-color: $main-color;
    border-color: darken($main-color, 5%);
    color: $white;

    &:hover {
      background-color: darken($main-color, 25%);
      color: $white;
    }
  }

  .btn-disabled,
  .btn-disabled:active,
  .btn-disabled:focus {
    background-color: darken($main-color, 25%);;
    border-color: darken($main-color, 5%);
    color: $white;

    &:hover {
      background-color: $main-color;
      color: $white;
    }
  }
}

